<%= form_with(model: meme, local: true) do |form| %>
<% if meme.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

  <ul>
    <% meme.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
</div>
<div class="field">
  <%= form.label :category %>
  <%= form.select :category, $categorias %>
</div>

<div class="field">
  <%= form.label :link %>
  <%= form.text_field :link %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="actions">
  <% if request.fullpath == "/memes/new" %>
  <button type="submit" class="btn btn-primary">Create Meme</button>
  <%else%>
  <button type="submit" class="btn btn-primary">Edit</button>
  <% end %>
  <a class="btn btn-primary" href="/memes" style="color: white;">Back</a>
</div>

<% end %>

<script>
  $(document).ready(function () {
    $('input').attr('class', 'form-control');
    $('textarea').attr('class', 'form-control');
    $('select').attr('class', 'form-control');
  })
</script>