<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meme.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @meme.category %>
</p>

<p>
  <strong>Link:</strong>
  <img src="<%= @meme.link %>" alt="" style="width: 100px; height: 100px; border: 2px solid black;">
</p>

<p>
  <strong>Description:</strong>
  <%= @meme.description %>
</p>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>
